@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--width-fhd: 1920px;
	--height-fhd: 1080px;
	--width-macbook: 2056px;
	--height-macbook: 1286px;
	--width-canvas: 8642px;
	--height-canvas: 4860px;

	--clr-bg-light: hsl(201, 37%, 24%);
	--clr-bg-normal: hsl(201, 37%, 12%);
	--clr-bg-dark: hsl(201, 37%, 8%);
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--clr-bg-dark);
	margin: 0px;
	height: 100vh;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: basic-sans, sans-serif;
	text-transform: uppercase;
}

p,
small,
a {
	font-family: logic-monospace, mono;
}

button {
	all: unset;
}

.debug {
	outline: 1px solid red;
}
